<a href="https://colab.research.google.com/github/furkanozdemir14/Iris_Classification/blob/main/Ir%C4%B1s_Classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Adım 1: NumPy, Pandas ve Matplotlib kütüphanelerinin içe aktarılması gerçekleştirilir.

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

2. Adım: Ödevde verilen veri kümesi için githubda bulunan aynı dataset IrisDataset.csv olarak içe aktarılmıştır. Daha sonra sonra, 4 bağımsız değişkeni X'e ve bağımlı değişken "türler" Y'ye atarız. Veri kümesinin ilk 5 satırı yazdırılır.

In [2]:
dataset = pd.read_csv('https://raw.githubusercontent.com/mk-gurucharan/Classification/master/IrisDataset.csv')
X = dataset.iloc[:,:4].values
y = dataset['species'].values
dataset.head(5)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

Adım 3[18]: Veri setini Eğitim seti ve Test seti olarak ikiye bölüyoruz. Bu veri setinde 3 sınıfın her birinin 50 satırının olduğu 150 satır vardır.  Burada test_size = 0.5 değerine eşitlenerek her sınıf için olan verilerin % 50'sinin test seti olarak test amacıyla kullanılacağı ve geri kalan % 50'nin Naive Bayes sınıflandırma modelini eğitmek için eğitim seti olarak kullanılacaktır.

In [18]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.5)

Adım 4 [5]: Ön işleme yöntemi ile Veri kümesi, daha küçük bir aralığa ölçeklenir. Bunda, hem X_train hem de X_test değerleri, programın hızını artırmak için daha küçük değerlere ölçeklenir.

In [5]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

Adım 5[6]: Eğitim Setinde Naive Bayes Sınıflandırma modelini eğitme Bu adımda sklearn.naive_bayes kitaplığından kullanılan GaussianNB sınıfını içe aktarılır. Burada, GaussianNB sınıfını değişken sınıflandırıcıya atıyoruz ve X_train ve y_train değerlerini eğitim amacıyla uyuyoruz.

In [6]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

Adım 6 [7]: Test seti sonuçlarının tahmin edilmesi Model eğitildikten sonra, Test kümesinin değerlerini tahmin etmek için classifier.predict () kullanırız ve tahmin edilen değerler y_pred değişkenine kaydedilir.

In [7]:
y_pred = classifier.predict(X_test) 
y_pred

array(['versicolor', 'virginica', 'virginica', 'setosa', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'virginica', 'virginica',
       'virginica', 'virginica', 'setosa', 'setosa', 'virginica',
       'setosa', 'versicolor', 'versicolor', 'versicolor', 'virginica',
       'setosa', 'setosa', 'virginica', 'virginica', 'versicolor',
       'virginica', 'setosa', 'versicolor', 'setosa', 'versicolor',
       'virginica', 'virginica', 'virginica', 'setosa', 'versicolor',
       'virginica', 'versicolor', 'virginica', 'setosa', 'versicolor',
       'versicolor', 'versicolor', 'versicolor', 'versicolor',
       'versicolor', 'setosa', 'virginica', 'versicolor', 'setosa',
       'setosa', 'virginica', 'versicolor', 'virginica', 'virginica',
       'versicolor', 'setosa', 'setosa', 'virginica', 'versicolor',
       'virginica', 'versicolor', 'versicolor', 'versicolor', 'setosa',
       'virginica', 'setosa', 'versicolor', 'versicolor', 'setosa',
       'virginica', 'setosa', 'setosa', 'virginica', 'setosa',
       'virginica'], dtype='<U10')

Adım 7 [8]: Karışıklık matrisi ve başarılı tahmin sonucu hesaplanarak, eğitilen modelin doğruluğu görülür ve karışıklık matrisi çizilmiş olur.

In [8]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
from sklearn.metrics import accuracy_score 
print ("Accuracy : ", accuracy_score(y_test, y_pred))
cm

Accuracy :  0.96

array([[22,  0,  0],
       [ 0, 24,  1],
       [ 0,  2, 26]])

Yukarıda da görüldüğü gibi, modelimiz %96 oranda başarılı bir sınıflandırma gerçekleştirmiştir.

Adım 8 [14]: Gerçek değerler, öngörülen değerler ile karşılaştırılarak hem orijinal Test setinin (y_test) hem de tahmin edilen sonuçların (y_pred) sınıflandırılmış değerleri ile bir Pandas DataFrame oluşturulur.

In [14]:
df = pd.DataFrame({'Real Values':y_test, 'Predicted Values':y_pred})
df.head(15)

   Real Values Predicted Values
0   versicolor       versicolor
1    virginica        virginica
2    virginica        virginica
3       setosa           setosa
4    virginica        virginica
5       setosa           setosa
6   versicolor       versicolor
7    virginica       versicolor
8   versicolor        virginica
9    virginica        virginica
10   virginica        virginica
11   virginica        virginica
12      setosa           setosa
13      setosa           setosa
14   virginica        virginica

Adım 9 [25]: Kuadratik sınıflandırıcı ile iki veya daha fazla nesne/olay sınıfının ölçümlerini ayırmak için kuadratik bir karar yüzeyi kullanan istatistiksel sınıflandırıcıdır. 
İşlem uygulandığında %50 eğitim ve %50 test verileri için başarım oranı 0,946 olduğu görülmüştür.

In [25]:
# Fitting QDA to the Training set
from sklearn.discriminant_analysis import QuadraticDiscriminantAnalysis 

classifier = QuadraticDiscriminantAnalysis() 
classifier.fit(X_train, y_train)
# Predicting the Test set results
y_pred = classifier.predict(X_test)
#Checking accuracy
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,y_pred))

0.9466666666666667

Adım 10 [26]: K-En Yakın Komşu sınıflandırıcısı kullanan modele işlem uygulandığında %50 eğitim ve %50 test verileri için başarım oranı 0,96 olduğu görülmüştür.

In [26]:
from sklearn import neighbors
classifier=neighbors.KNeighborsClassifier()
classifier.fit(X_train,y_train)
predictions=classifier.predict(X_test)
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions))

0.96